* {
  margin: 0;
  padding: 0;
}
body {
  background: radial-gradient(#ffcc66, #ff9d1c);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#swoosh {
  height: 400px;
  width: 505px;
  z-index: 0;
}
.container {
  border: 2px dashed;
  border-radius: 20px;
  height: 250px;
  width: 500px;
}
h1 {
  font-family: "Caveat", cursive;
  padding: 10px;
  font-weight: bolder;
  font-size: 33px;
}
.title {
  font-family: "WindSong", cursive;
}
button,
input[type="file"]::file-selector-button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: radial-gradient(#ffdc96, #fd8f00);
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: "Akaya Kanadaka", cursive;
}
button:hover,
input[type="file"]::file-selector-button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
.manual {
  /* display: flex; */
  justify-content: center;
  padding: 20px;
}
.choose-file {
  display: flex;
  position: relative;
}
.copyToClip {
  position: absolute;
  top: 40px;
  left: 175px;
}
.copy-icon {
  cursor: pointer;
}
.file-selector {
  position: absolute;
  left: 35px;
}
.get-Link {
  position: absolute;
  left: 196px;
}
.background {
  width: 500px;
  height: 100px;
}
.link-container {
  display: flex;
  position: absolute;
}
.link-text {
  width: 460px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
